:root {
  --blue-gray: #90a4ae;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--blue-gray);
}
